<!DOCTYPE html>
<html>
  <%- include('./partials/_head' ) %>
  <body>
    <%- include ('./partials/_nav') %>
    <div class="container mt-2">
      <header>
        <h2><%= title %></h2>
        <p><%= description %></p>
      </header>
      <section>
        <table border="1" cellpadding="10" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Company</th>
              <th>Category</th>
              <th>Price</th>
              <th>Compose</th>
            </tr>
          </thead>
          <tbody>
            <% itemList.forEach(element => { %>
            <tr>
              <td><%= element.car_name %></td>
              <td><%= element.car_description %></td>
              <td><%= element.company_name %></td>
              <td><%= element.category_name %></td>
              <td><%= element.price %>$</td>
              <td><a href="/<%= element.car_id %>">edit</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </section>
      <footer></footer>
    </div>
  </body>
</html>
